body {
  background-color: #a4b4df;
}

.navbarList {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  margin: 0;
}

.navbarList a {
  text-decoration: none;
  color: rgb(252, 252, 252);
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.introduction {
  padding: 20px;
}

.profile-links-div {
  padding: 20px;
}

.profile-links-div ul {
  list-style: none;
  line-height: 2;
}

.profile-links-div ul li a {
  color: #04174d;
  text-decoration: none;
  font-size: 1.2em;
}
